@font-face {
    font-family: "CustomFont",serif;
    src: url("https://github.com/avinas02/mith_dev/raw/master/fonts/Title.TTF") format("Truetype");
}



.card{
    display: flex;
    position: relative;
    margin: 10px auto;
}

.category{
    background-color: #D4CAA3;
    margin: 5% 3%;
}


body {
    background-color: #fffef2;
}



.navbar-toggler:active{

    border-color: none;
}